<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

    <title>About</title>
</head>

<body>
    <section id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="text-center">The story behind</h2>
                    <p>
                        One month ago, we went to an animal shelter called "safe heaven for cats" and adopted a Cat called Ciao. Now Ciao is not only our close friend, but also family to us. Meantime, we were having trouble finding the website that we wanted to build for Comp
                        426 final project. And we realized <strong>it couldn't be better if we can
              help the animal shelter called "safe heaven for cat" to let more
              people know about that there are many cats there still need a
              home. So we build this website and hoping my classmates in COMP
              426 can go to Raleigh and give these cute kittens and cats a sweet
              home.</strong>
                    </p>

                    <p>
                        According to the People for the Ethical Treatment of Animals, there are between 60 million and 100 million feral cats in the U.S. They are usually the offspring of cats who were lost or abandoned by their owners, and they grow up not socialized to humans.
                    </p>
                    <p>
                        Feral cats often live in vacant lots, dodge cars, and eat from trash cans; face infection, disease, and an endless cycle of pregnancy; and suffer extremes in treatment and weather.
                    </p>
                    <p>
                        Pet adoption saves lives. Each year shelters euthanize 2.7 million dogs and cats. Most ended up in those shelters through no fault of their own.
                    </p>
                </div>
                <div class="col-sm-5">
                    <div class="img-wrap">
                        <img src="/lala.JPG" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>